{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'app1/css/about.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="first">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis iste aperiam natus cupiditate
                molestiae aliquid, numquam, aut nisi, iusto ipsa delectus ab soluta ipsum eos saepe reiciendis magnam?
                Repellendus, libero maxime? Perferendis, voluptas.</p>
        </div>
        <div class="first">
            <h2>Courses</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis iste aperiam natus cupiditate
                molestiae aliquid, numquam, aut nisi, iusto ipsa delectus ab soluta ipsum eos saepe reiciendis magnam?
                Repellendus, libero maxime? Perferendis, voluptas.</p>
        </div>
        <div class="first">
            <h2>Challenges</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint officiis iste aperiam natus cupiditate
                molestiae aliquid, numquam, aut nisi, iusto ipsa delectus ab soluta ipsum eos saepe reiciendis magnam?
                Repellendus, libero maxime? Perferendis, voluptas.</p>
        </div>
    </div>
    <div class="cont1">
        <div class="main" id="Second">
            <h3>Courses</h3>
            <ol type="1">
                <li>Python</li>
                <li>Java</li>
                <li>c</li>
                <li>c++</li>
                <li>Ruby</li>
                <li>.Net</li>
                <li>hash</li>
                <li>Data Science</li>
                <li>Data Analysis</li>
                <li>AI</li>
                <li>Machine Learning</li>
            </ol>
        </div>
        <div class="main" id="Third">
            <h3>Challenges</h3>
            <ol type="1">
                <li>Python</li>
                <ol type="I">
                    <li class="list_one">Do Python 10 Programs Daily</li>
                </ol>
                <li>Java</li>
                <ol type="I">
                    <li class="list_one">Do Python 25 Programs Daily</li>
                </ol>
                <li>c</li>
                <ol type="I">
                    <li class="list_one">Do C 30 Programs Daily</li>
                </ol>
                <li>c++</li>
                <ol type="I">
                    <li class="list_one">Do C++ 10 Programs Daily</li>
                </ol>
                <li>Ruby</li>
                <ol type="I">
                    <li class="list_one">Do Ruby 15-20 Programs Daily</li>
                </ol>
                <li>.Net</li>
                <ol type="I">
                    <li class="list_one">Do >NET 20 Programs Daily</li>
                </ol>
                <li>hash</li>
                <ol type="I">
                    <li class="list_one">Do Hash 10 Programs Daily</li>
                </ol>
                <li>Data Science</li>
                <ol type="I">
                    <li class="list_one">Do Data Science 40 Programs Daily</li>
                </ol>
                <li>Data Analysis</li>
                <ol type="I">
                    <li class="list_one">Do Data Analysis project Daily</li>
                </ol>
                <li>AI</li>
                <ol type="I">
                    <li class="list_one">Do AI 10 Programs Daily</li>
                </ol>
                <li>Machine Learning</li>
                <ol type="I">
                    <li class="list_one">Do Machine Learning 10 Programs Daily</li>
                </ol>
            </ol>

        </div>
    </div>
{% endblock %}