{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'app1/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <H1>Home Page of First Site User..</H1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, illo possimus perspiciatis dolore earum
            consectetur deserunt ex, molestiae, itaque doloremque consequatur deleniti impedit ipsum cupiditate magnam
            magni. Deleniti mollitia magni ullam rerum ipsum quidem quasi at numquam. Saepe voluptatibus explicabo
            dolorem reiciendis omnis sed delectus ea quas? Fugiat officiis ipsum quod, sequi qui nam? Itaque totam,
            rerum expedita atque ut esse adipisci accusantium debitis laudantium.</p>

        <input type="submit" value="Home" class="btn_1">
    </div>
{% endblock %}